name: BFI Scraper

on:
  schedule:
    - cron: "*/30 * * * *"   # her 30 dakikada bir
  workflow_dispatch:         # manuel çalıştırma

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Scraper
        run: node scripts/scraper.js

      - name: Commit and Push Changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add data/countries.json
          git commit -m "Auto update countries.json" || echo "No changes"
          git push
